---
import { Image } from "astro:assets";
import Section from "@components/Section.astro";
import Layher from "@images/layher.jpg";
import Chas from "@images/chas.png";
import Safe from "@images/safe.png";
import Citb from "@images/citb.png";

import FeatureList from "@components/FeatureList.astro";

const features = [
  {
    title: "Guaranteed Workmanship",
    body: "We stand by the quality of our work, offering full insurance and a reliable guarantee.",
  },
  {
    title: "Accredited Professionals",
    body: "Approved by CHAS, CITB, and SafeContractor, ensuring we adhere to top industry regulations.",
  },
  {
    title: "Decades of Expertise",
    body: "With over 25 years of hands-on experience, we deliver scaffolding solutions built on knowledge.",
  },
  {
    title: "Bespoke Scaffolding Designs",
    body: "We provide tailored scaffolding systems to fit your project's exact specifications.",
  },
  {
    title: "Committed to Safety",
    body: "Safety is our top priority, with rigorous standards maintained at every stage.",
  },
  {
    title: "Fair & Transparent Pricing",
    body: "High-quality service with clear and competitive pricing, with no hidden costs.",
  },
  {
    title: "Dependable Service",
    body: "We pride ourselves on being punctual and reliable, ensuring smooth project delivery.",
  },
];

const certificates = [
  {
    name: "Chas",
    imgsrc: Chas,
  },
  {
    name: "Safe Contractor",
    imgsrc: Safe,
  },
  {
    name: "CITB",
    imgsrc: Citb,
  },
];
---

<Section theme="white" pattern="full-fade">
  <div class="space-y-20 md:space-y-24 lg:space-y-32">
    <div class="md:grid md:grid-cols-2 md:gap-12 md:items-center">
      <div>
        <Image
          src={Layher}
          alt="Milton Keynes Scaffolding Specialists"
          class="rounded-3xl lg:aspect-square object-cover"
        />
      </div>
      <div class="prose prose-zinc prose-h2:text-3xl">
        <h2>Welcome to Bowler Scaffolding Group</h2>
        <p>
          Your trusted partner for safe and reliable scaffolding solutions. As a
          CHAS Accredited, CITB certified, and SafeContractor Approved company,
          we are committed to delivering the highest standards of safety and
          quality on every project. Based in London, we provide expert
          scaffolding services to clients across the UK.
        </p>
        <p>
          Whether your project is commercial, industrial, or specialist, our
          experienced team offers tailored scaffolding solutions to meet your
          exact requirements. Contact us today to learn more about our services
          and discover why businesses nationwide trust Bowler Scaffolding Group
          for dependable and professional access solutions.
        </p>
        <div class="flex items-center gap-8">
          {
            certificates.map((cert) => (
              <div class="h-24 w-24">
                <Image
                  src={cert.imgsrc}
                  alt="{cert.name}"
                  class="h-full w-full object-contain"
                />
              </div>
            ))
          }
        </div>
      </div>
    </div>
    <div class="bg-zinc-800 rounded-3xl p-8 lg:p-16 space-y-8 md:space-y-12">
      <div class="max-w-2xl">
        <p class="text-primary-500 text-lg">Why Clients Choose Us</p>
        <h2 class="text-3xl text-zinc-50 font-medium mt-4">
          Trusted Nationwide for Quality, Safety, and Reliability
        </h2>
        <p class="text-zinc-400 mt-6">
          Backed by over 25 years of industry expertise, Bowler Scaffolding
          Group is recognised for delivering dependable scaffolding solutions
          tailored to meet the unique needs of every project. We prioritise
          safety, efficiency, and cost-effectiveness while maintaining clear
          communication and a commitment to meeting deadlines, ensuring a
          seamless experience for our clients across the UK.
        </p>
      </div>
      <FeatureList
        items={features}
        dark={true}
        class="space-y-8 md:space-y-0 md:grid md:grid-cols-2 md:gap-12"
      />
    </div>
  </div>
</Section>
