---
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
import PageHero from "@components/PageHero.astro";
import WorkCarousel from "@components/WorkCarousel.astro";
import AboutImage1 from "@images/about/about-1.jpg";
import AboutImage2 from "@images/about/about-2.jpg";

const pageContent = {
  heading: `About Us<br> <span class="text-primary text-lg">Your Trusted Partner in Scaffolding Solutions</span>`,
  subheading:
    "At Milton Keynes Scaffolding Specialists, we've built our reputation on delivering reliable and high-quality scaffolding services for over two decades. Serving sectors ranging from commercial and industrial to residential and bespoke projects, we are known for our attention to detail, professionalism, and commitment to safety. Whatever the scale or complexity of your project, our expert team is ready to provide a tailored solution that meets your needs.",
  heroImageWide: AboutImage1,
  heroImageTall: AboutImage2,
  ctaLink: "/contact/",
  ctaText: "Contact us",
};

const slides = [
  {
    image: AboutImage1,
    caption: "MK Scaffolding Specialists",
  },
];
const description =
  "Milton Keynes Scaffolding Specialists deliver expert scaffolding services for industrial, commercial, and domestic projects, with a focus on safety and quality.";
---

<Layout title="Industrial Scaffolding" description={description}>
  <main>
    <PageHero
      heading={pageContent.heading}
      subheading={pageContent.subheading}
      imageWide={pageContent.heroImageWide}
      imageTall={pageContent.heroImageTall}
      ctaLink={pageContent.ctaLink}
      ctaText={pageContent.ctaText}
    />
    <Section theme="white" pattern="full-fade">
      <div class="grid grid-cols-1 md:grid-cols-2 h-full items-center gap-16">
        <div class="prose prose-zinc">
          <h2>Safety You Can Rely On</h2>
          <p>
            Safety is our top priority. With a flawless safety record, we ensure
            that every scaffold is erected and managed with the utmost care. Our
            qualified scaffolders follow strict safety standards, ensuring all
            risks are minimised for clients, employees, subcontractors, and the
            public. Whether it's confined space scaffolding, temporary roofs, or
            pedestrian access solutions, we deliver safe and compliant scaffolds
            every time.
          </p>
          <h2>Specialist Services with Proven Expertise</h2>
          <p>
            We confidently use the term 'Specialists' because we thrive on
            complex challenges. From cantilevered and truss-out scaffolds to
            marine and façade retention scaffolds, our team has the experience
            and creativity to provide innovative solutions for unique
            requirements. Using both tube & fitting and the advanced Layher
            System, we offer flexible and efficient scaffolding tailored to each
            project.
          </p>
          <h2>Built on Trust and Quality</h2>
          <p
            >Our company values are rooted in trust and reliability. We believe
            in doing what we say we will do, delivering results on time and on
            budget. Our clients know they can depend on us for clear
            communication, thorough project management, and a seamless service
            from start to finish. Whether you're a homeowner, contractor, or
            developer, we're here to make your project run smoothly.</p
          >
        </div>
        <div>
          <WorkCarousel slides={slides} />
        </div>
      </div>
    </Section>
  </main>
</Layout>
