---
import Layout from "@layouts/Layout.astro";
import ServicesSection from "@components/landing-page/ServicesSection.astro";
import IntroSection from "@components/landing-page/IntroSection.astro";
import SwiperHero from "@components/SwiperHero.astro";
import Testimonials from "@components/Testimonials.astro";
import SlideOneImage from "@images/home/scaff-1200-900.jpg";
import IndustrialSlideImage from "@images/industrial/industrial-slide-1.jpeg";
import DomesticSlideImage from "@images/domestic/domestic-slide-1.jpeg";

import CommercialImage from "@images/home/6129-1200-900.jpg";
import IndustrialImage from "@images/home/mk2-uai-900-900.jpg";
import DomesticImage from "@images/home/domestic-tall-1000-1500.jpg";
import SpecialistImage from "@images/home/fashion1-1000-743.jpg";

const hero = {
  eyebrow: "Trusted UK-Wide Scaffolding Solutions",
  headline: `Commercial, Industrial & Specialist Scaffolding <span class="text-primary-500">Delivered Safely & On Time</span>`,
  supporting: `With decades of experience, Bowler Scaffolding Group offers tailored scaffolding services designed to meet the highest safety and efficiency standards for complex projects across the UK.`,
};

const cta = {
  heading: "Get your FREE no-obligation quote today!",
  subheading: `Whether your project requires commercial scaffolding, industrial solutions, or specialist structures, we provide expert advice and competitive quotes to keep your project on track.`,
  href: "/scaffolding-quote/",
  buttonText: "Book my free quote now!",
};

const services = [
  {
    title: "Commercial Scaffolding",
    body: "At Bowler Scaffolding Group, we understand the fast-paced demands of commercial projects. Our experienced team ensures efficient, safe, and hassle-free scaffolding solutions tailored to your business needs.",
    src: CommercialImage,
    href: "/commercial-scaffolding/",
  },
  {
    title: "Industrial Scaffolding",
    body: "We deliver robust and reliable scaffolding solutions for industrial sites. Whether it's a high-risk environment or a large-scale facility, our team is equipped to handle the toughest challenges.",
    src: IndustrialImage,
    href: "/industrial-scaffolding/",
  },
  {
    title: "Specialist Scaffolding",
    body: "From complex designs to unique project requirements, Bowler Scaffolding Group offers specialised scaffolding solutions, including suspended and cantilevered systems, ensuring complete flexibility.",
    src: SpecialistImage,
    href: "/specialist-scaffolding/",
  },
];

const slides = [
  {
    image: DomesticSlideImage,
    caption: "Domestic Scaffolding UK",
  },
  {
    image: SlideOneImage,
    caption: "Commercial Scaffolding UK",
  },
  {
    image: IndustrialSlideImage,
    caption: "Industrial Scaffolding UK",
  },
];

const description =
  "Nationwide scaffolding experts based in London, specialising in commercial, industrial, and bespoke scaffolding solutions. Choose Bowler Scaffolding Group for reliable, safe, and innovative access systems.";
---

<Layout
  title="Bowler Scaffolding Group | Nationwide Commercial & Industrial Scaffolding Solutions"
  description={description}
>
  <main>
    <SwiperHero
      eyebrow={hero.eyebrow}
      headline={hero.headline}
      supporting={hero.supporting}
      slides={slides}
    />
    <ServicesSection cta={cta} services={services} />
    <IntroSection />

    <Testimonials />
  </main>
</Layout>
