---
import Layout from "@layouts/Layout.astro";
import ServicesSection from "@components/landing-page/ServicesSection.astro";
import IntroSection from "@components/landing-page/IntroSection.astro";
import SwiperHero from "@components/SwiperHero.astro";
import Testimonials from "@components/Testimonials.astro";
import SlideOneImage from "@images/home/scaff-1200-900.jpg";
import IndustrialSlideImage from "@images/industrial/industrial-slide-1.jpeg";
import DomesticSlideImage from "@images/domestic/domestic-slide-1.jpeg";

import CommercialImage from "@images/home/6129-1200-900.jpg";
import IndustrialImage from "@images/home/mk2-uai-900-900.jpg";
import DomesticImage from "@images/home/domestic-tall-1000-1500.jpg";
import SpecialistImage from "@images/home/fashion1-1000-743.jpg";

const hero = {
  eyebrow: "Scaffolding Milton Keynes",
  headline: `Safe, Reliable, Certified <span class="text-primary-500">Scaffolding</span> Solutions`,
  supporting: `Delivering Expert Scaffolding Services Across Milton Keynes, Northampton, Luton, and Beyond`,
};

const cta = {
  heading: "Get your FREE no-obligation quote today!",
  subheading: `We're committed to providing competitive prices, outstanding service, and expert advice. Whether it's residential, commercial, or industrial scaffolding, we've got you covered.`,
  href: "/scaffolding-quote/",
  buttonText: "Book my free quote now!",
};

const services = [
  {
    title: "Commercial Scaffolding",
    body: "Our experienced team has a strong track record in the commercial sector, expertly managing projects from start to finish. Trust us to handle the technical details while you focus on your core operations.",
    src: CommercialImage,
    href: "/commercial-scaffolding/",
  },
  {
    title: "Industrial Scaffolding",
    body: "We specialise in handling complex and sensitive industrial projects. Our highly trained scaffolders are equipped to deliver versatile solutions across diverse work environments.",
    src: IndustrialImage,
    href: "/industrial-scaffolding/",
  },
  {
    title: "Domestic Scaffolding",
    body: "For residential projects, we offer reliable and safe scaffolding services designed to make the process straightforward and stress-free for homeowners.",
    src: DomesticImage,
    href: "/domestic-scaffolding/",
  },
  {
    title: "Specialist Scaffolding",
    body: "Our team provides bespoke scaffold solutions, including suspended, cantilevered, and independent scaffolds, ensuring we meet your exact project requirements.",
    src: SpecialistImage,
    href: "/specialist-scaffolding/",
  },
];

const slides = [
  {
    image: DomesticSlideImage,
    caption: "Domestic Scaffolding Milton Keynes",
  },
  {
    image: SlideOneImage,
    caption: "Commercial Scaffolding Milton Keynes",
  },
  {
    image: IndustrialSlideImage,
    caption: "Industrial Scaffolding Milton Keynes",
  },
];

const description =
  "Reliable scaffolding services based in Milton Keynes. We specialise in domestic, commercial, industrial, and specialist scaffolding. Contact us for top-quality solutions.";
---

<Layout
  title="Milton Keynes Scaffolding Specialists LTD - Scaffolding Company in Milton Keynes"
  description={description}
>
  <main>
    <SwiperHero
      eyebrow={hero.eyebrow}
      headline={hero.headline}
      supporting={hero.supporting}
      slides={slides}
    />
    <ServicesSection cta={cta} services={services} />
    <IntroSection />

    <Testimonials />
  </main>
</Layout>
