---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Container from "../components/Container.astro";
import WorkCarousel from "../components/WorkCarousel.astro";
import Grid from "../components/Grid.astro";
import SpecialistImage1 from "../images/specialist/specialist-1.jpg";
import SpecialistImage2 from "../images/specialist/specialist-2.jpeg";
import SpecialistImage3 from "../images/specialist/specialist-3.jpg";

const pageContent = {
    heading: "Specialist Scaffolding",
    subheading:
        "For bespoke scaffolds like suspended, truss-out and free-standing structures, Milton Keynes Scaffolding Specialists has the expertise to deliver precisely what you need. Using tube & fitting and the Layher System of scaffolding, we utilise the best of both systems, to get your scaffold spot-on. Plus, you won’t have to worry about the finishing touches, as we supply hoarding and signage – which is part of our 360-degree service.",
    heroImageWide: SpecialistImage1,
    heroImageTall: SpecialistImage2,
    ctaLink: "/contact",
    ctaText: "Contact us",
    features: [
        'cantilevered scaffolds',
        'truss-out Scaffolds',
        'façade retention',
        'buttressed free-standing scaffolds',
        'temporary roofs and temporary buildings',
        'public access Layher staircases',
        'support scaffolds',
        'pedestrian footbridges & walkways',
        'slung and suspended scaffolds',
        'protection fans',
        'pavement gantries',
        'marine scaffolds',
        'hoardings, banners & signage',
    ],
};

const slides = [
    {
        image: SpecialistImage3,
        caption: "Specialist Scaffolding",
    },

];
const description = "Milton Keynes-based specialist scaffolding solutions for complex projects, ensuring safety, precision, and tailored access for unique requirements.";
---

<Layout title="Specialist Scaffolding" description={description}>
    <main>
        <Hero
            heading={pageContent.heading}
            subheading={pageContent.subheading}
            imageWide={pageContent.heroImageWide}
            imageTall={pageContent.heroImageTall}
            ctaLink={pageContent.ctaLink}
            ctaText={pageContent.ctaText}
        />

        <div class="py-16 relative isolate bg-white">
            <div class="absolute w-1/4 top-0 left-0 h-full text-zinc-100">
                <Grid size="100" id="about-bg" />
            </div>
            <Container className="relative">
                <div
                    class="grid grid-cols-1 md:grid-cols-2 items-center gap-16"
                >
                    <div>
                        <p class="text-zinc-600 mb-12 text-lg">
                            Our in-house design team will draft a design for your approval before it’s erected, and only senior scaffolders (with CISRS Advanced Scaffolder qualification cards) will manage and sign-off its construction.
                        </p>
                        <WorkCarousel slides={slides} />
                    </div>
                    <div>
                        <div class="bg-zinc-800 rounded-2xl px-12 py-12">
                            <p class="font-bold text-lg text-orange-500">
                                Experienced in:
                            </p>
                            <ul
                                class="list-disc marker:text-orange-600 text-zinc-200 mt-4"
                            >
                                {
                                    pageContent.features.map((item) => (
                                        <li class="ml-5 capitalize mb-4 text-lg">
                                            {item}
                                        </li>
                                    ))
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </Container>
        </div>
    </main>
</Layout>
