---
import { Image } from "astro:assets";
import Grid from "./Grid.astro";
import FeatureList from "./FeatureList.astro";
import Container from "./Container.astro";
import BarsMask from "./BarsMask.astro";
import Chas from "../images/chas.png";
import Safe from "../images/safe.png";
import Citb from "../images/citb.png";
import Layher from "../images/layher.jpg";

const features = [
  {
    title: "Fully Guaranteed",
    body: "All our work is fully insured and guaranteed, giving you peace of mind.",
  },
  {
    title: "Certified & Accredited",
    body: "We’re CHAS, CITB, and SafeContractor approved, meeting the highest industry standards.",
  },
  {
    title: "Over 25 Years of Experience",
    body: "With decades of experience, our team delivers expert scaffolding solutions you can trust.",
  },
  {
    title: "Customised Solutions",
    body: "Tailored scaffolding solutions designed to meet the specific needs of every project.",
  },

  {
    title: "Safety-First Approach",
    body: "Dedicated to maintaining the strictest safety standards on every site.",
  },
  {
    title: "Competitive Pricing",
    body: "Offering quality service with fair, transparent pricing.",
  },
  {
    title: "Reliable & On-Time",
    body: "Count on us for dependable, punctual service from start to finish.",
  },
];

const certificates = [
  {
    name: "Chas",
    imgsrc: Chas,
  },
  {
    name: "Safe Contractor",
    imgsrc: Safe,
  },
  {
    name: "CITB",
    imgsrc: Citb,
  },
];
---

<section class="py-24 bg-zinc-50 relative">
  <div
    class="absolute h-1/6 w-1/2 lg:w-1/4 lg:h-1/2 top-0 left-0 text-zinc-200"
  >
    <Grid size="100" id="about-bg" />
    <div
      class="absolute inset-0 bg-gradient-to-br from-transparent to-zinc-50 size-full"
    >
    </div>
  </div>

  <Container className="relative z-10">
    <div
      class="flex flex-col-reverse lg:grid lg:grid-cols-2 gap-16 lg:items-center"
    >
      <div>
        <div
          class="px-12 py-16 shadow-lg bg-zinc-800 rounded-3xl max-w-3xl mx-auto"
        >
          <h2 class="text-white text-2xl mb-8 text-balance">
            Why choose Milton Keynes <strong class="text-orange-500"
              >Scaffolding</strong
            > Specialists?
          </h2>
          <FeatureList items={features} dark={true} />
        </div>
      </div>
      <div class="max-w-3xl mx-auto">
        <div class="max-w-80 lg:max-w-2xl">
          <BarsMask
            image={Layher}
            alt="Milton Keynes Scaffolding Specialists"
          />
        </div>
        <h2 class="text-4xl font-bold text-zinc-900 mt-12">
          <a
            href="/scaffolder-milton-keynes"
            class="text-orange-500 text-lg mb-2 block">Milton Keynes</a
          > Scaffolding Specialists
        </h2>
        <p class="mt-8 text-zinc-600">
          Welcome to <strong>Milton Keynes Scaffolding</strong> your trusted partner
          for safe, reliable, and professional scaffolding solutions. As a CHAS Accredited,
          CITB certified, and Safe Contractor Approved company, we uphold the highest
          standards in safety and quality. Based in Milton Keynes, we proudly provide
          expert scaffolding services across a wide range of locations, including
          Northampton, Luton, Oxford, Bedford, London, Cambridge, Coventry, and Stevenage.
          Whether it’s a residential, commercial, or industrial project, our experienced
          team delivers tailored scaffolding solutions to meet your specific requirements.
          Contact us today to learn more about our services and discover why we are
          a trusted name in scaffolding across the region.
        </p>

        <div class="flex items-center gap-8 mt-8">
          {
            certificates.map((cert) => (
              <div class="h-24 w-24">
                <Image
                  src={cert.imgsrc}
                  alt="{cert.name}"
                  class="h-full w-full object-contain"
                />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </Container>
</section>
