---
import Logo from "./Logo.astro";
import { Icon } from "astro-icon/components";
import Container from "./Container.astro";
import { SITE } from "@config";

const menu = [
  {
    name: "Home",
    url: "/",
  },
  {
    name: "Services",
    url: "#",
    submenu: [
      {
        name: "Industrial Scaffolding",
        url: "/industrial-scaffolding/",
      },
      {
        name: "Commerical Scaffolding",
        url: "/commercial-scaffolding/",
      },
      {
        name: "Domestic Scaffolding",
        url: "/domestic-scaffolding/",
      },
      {
        name: "Specialist Scaffolding",
        url: "/specialist-scaffolding/",
      },
    ],
  },
  {
    name: "About",
    url: "/about/",
  },

  {
    name: "News",
    url: `/${SITE.news.base}/`,
  },
];
---

<header-element>
  <header class="relative" id="header">
    <Container>
      <div
        class="h-20 md:h-24 lg:h-28 py-4 md:py-6 flex items-center justify-between"
      >
        <a href="/" class="h-full">
          <Logo theme="dark" class="h-full" />
        </a>
        <mobile-menu-toggle menu-target="#mobile-menu">
          <button
            class="lg:hidden relative z-50 bg-zinc-800 text-white size-10 rounded-full flex items-center justify-center transition-all hover:ring-4 ring-zinc-900/20 cursor-pointer"
            aria-expanded="false"
          >
            <span class="sr-only">Menu</span>
            <Icon name="ic:round-menu" size={24} class="open-icon" />
            <Icon name="ic:round-close" size={24} class="close-icon hidden" />
          </button>
        </mobile-menu-toggle>
        <nav class="hidden lg:flex" id="nav">
          <dropdown-wrapper>
            <div class="flex gap-x-4">
              {
                menu.map((menuitem) =>
                  menuitem.submenu ? (
                    <div class="relative">
                      <button
                        class:list={[
                          "flex py-3 pl-5 pr-3 item-center justify-center gap-1 rounded-lg hover:bg-zinc-100 transition-all aria-expanded:bg-zinc-100",
                          {
                            "bg-zinc-100": menuitem.submenu.some(
                              (item) => Astro.url.pathname === item.url
                            ),
                          },
                        ]}
                        aria-expanded="false"
                        data-dropdown-toggle
                      >
                        <span>{menuitem.name}</span>
                        <span
                          data-dropdown-arrow
                          class="data-[dropdown-arrow=open]:rotate-180"
                        >
                          <Icon name="ic:round-keyboard-arrow-down" size={24} />
                        </span>
                      </button>
                      <div
                        data-dropdown
                        class="hidden absolute z-50 -right-4 mt-4 origin-top-right transition-all opacity-0 scale-90 data-[dropdown=open]:opacity-100 data-[dropdown=open]:scale-100"
                      >
                        <div class="bg-white ring-1 ring-zinc-900/5 rounded-lg p-4 w-max shadow-xl space-y-2">
                          {menuitem.submenu.map((item) => (
                            <a
                              href={item.url}
                              class:list={[
                                "py-3 px-5 flex items-center justify-senter rounded-md hover:bg-zinc-100 transition-all",
                                {
                                  "bg-zinc-100":
                                    Astro.url.pathname === item.url,
                                },
                              ]}
                            >
                              {item.name}
                            </a>
                          ))}
                        </div>
                      </div>
                    </div>
                  ) : (
                    <a
                      href={menuitem.url}
                      class:list={[
                        "flex py-3 px-5 rounded-md hover:bg-zinc-100 transition-all",
                        { "bg-zinc-100": Astro.url.pathname === menuitem.url },
                      ]}
                    >
                      {menuitem.name}
                    </a>
                  )
                )
              }
            </div>
          </dropdown-wrapper>
        </nav>
        <a
          href="/contact/"
          class="hidden lg:flex font-semibold bg-orange-500 hover:ring-4 hover:ring-orange-500/50 transition-all text-white py-3 px-6 rounded-full"
          >Get in touch</a
        >
      </div>
      <div
        class="lg:hidden hidden absolute right-0 max-w-full z-50 p-4 -translate-y-2 opacity-0 data-[mobile-menu=open]:translate-y-0 data-[mobile-menu=open]:opacity-100 transition-all duration-300"
        data-mobile-menu="closed"
        id="mobile-menu"
      >
        <div class="p-3 rounded-3xl border bg-zinc-900/90 border-zinc-100/10">
          <div class="bg-white rounded-2xl overflow-hidden">
            <dropdown-wrapper>
              <div
                class="divide-y divide-zinc-200 pt-1 text-zinc-800 font-medium"
              >
                {
                  menu.map((menuitem) =>
                    menuitem.submenu ? (
                      <div class="">
                        <button
                          class:list={[
                            "hover:bg-zinc-100 px-6 py-4 w-full flex items-center justify-between",
                            {
                              "bg-zinc-100": menuitem.submenu.some(
                                (item) => Astro.url.pathname === item.url
                              ),
                            },
                          ]}
                          aria-expanded="false"
                          data-dropdown-toggle
                        >
                          <span>{menuitem.name}</span>
                          <span
                            data-dropdown-arrow
                            class="data-[dropdown-arrow=open]:rotate-180"
                          >
                            <Icon
                              name="ic:round-keyboard-arrow-down"
                              size={24}
                            />
                          </span>
                        </button>
                        <div
                          data-dropdown
                          class="hidden divide-y divide-zinc-200 border-t border-zinc-200"
                        >
                          {menuitem.submenu.map((item) => (
                            <a
                              href={item.url}
                              class:list={[
                                "block py-4 px-6 hover:bg-zinc-100 transition-all",
                                {
                                  "bg-zinc-100":
                                    Astro.url.pathname === item.url,
                                },
                              ]}
                            >
                              {item.name}
                            </a>
                          ))}
                        </div>
                      </div>
                    ) : (
                      <a
                        href={menuitem.url}
                        class:list={[
                          "block py-4 hover:bg-zinc-100 px-6",
                          {
                            "bg-zinc-100": Astro.url.pathname === menuitem.url,
                          },
                        ]}
                      >
                        {menuitem.name}
                      </a>
                    )
                  )
                }
              </div>
            </dropdown-wrapper>
            <div
              class="flex rounded-b-2xl overflow-hidden divide-x divide-zinc-300 border-t border-zinc-300 bg-zinc-100"
            >
              <a
                href="/contact/"
                class="py-4 px-6 hover:shadow-inner hover:bg-zinc-50 transition-all"
                >Get in touch</a
              >
              <a
                href="/scaffolding-quote/"
                class="py-4 px-6 hover:shadow-inner hover:bg-zinc-50 transition-all"
                >Get a quote</a
              >
            </div>
          </div>
        </div>
      </div>
    </Container>
  </header>
</header-element>

<script>
  import "./Navigation/mobiletoggle";
  import "./Navigation/dropdowns";
</script>
