---
import { Picture } from "astro:assets";
import Container from "./Container.astro";
import { Icon } from "astro-icon/components";

import CommercialImage from "../images/home/6129-1200-900.jpg";
import IndustrialImage from "../images/home/mk2-uai-900-900.jpg";
import DomesticImage from "../images/home/domestic-tall-1000-1500.jpg";
import SpecialistImage from "../images/home/fashion1-1000-743.jpg";

const services = [
  {
    heading: "Commercial Scaffolding",
    text: "With extensive experience in the commercial sector, our seasoned team ensures your project is in capable hands. We manage every aspect from initiation to completion, allowing you to focus on what truly matters.",
    image: CommercialImage,
    url: "/commercial-scaffolding",
  },
  {
    heading: "Industrial Scaffolding",
    text: "Handling specialized or sensitive projects poses no challenge for us. Our team of extensively trained professionals equips us with the flexibility to successfully execute a wide array of tasks.",
    image: IndustrialImage,
    url: "/industrial-scaffolding",
  },
  {
    heading: "Domestic Scaffolding",
    text: "When it comes to residential projects, Milton Keynes Scaffolding Specialists is your go-to choice. Our residential scaffolding service guarantees customers a smooth and hassle-free experience.",
    image: DomesticImage,

    url: "/domestic-scaffolding",
  },
  {
    heading: "Specialist Scaffolding",
    text: "Milton Keynes Scaffolding Specialists possesses the expertise to provide tailored scaffolds, including suspended, truss-out, and free-standing structures, meeting your precise requirements.",
    image: SpecialistImage,
    url: "/specialist-scaffolding",
  },
];
---

<section class="py-20 md:py-24 relative overflow-hidden">
  <Container className="relative z-10">
    <div
      class="space-y-6 md:space-y-0 md:grid md:grid-cols-2 xl:grid-cols-4 md:gap-8 xl:gap-6"
    >
      {
        services.map((service) => (
          <div class="bg-white rounded-3xl overflow-hidden relative hover:shadow-xl lg:hover:-translate-y-2 transiton-all">
            <a href={service.url} class="group ">
              <Picture
                src={service.image}
                alt={service.heading}
                formats={["avif", "webp"]}
                widths={[480, 600]}
                sizes={`(max-width: 1024px) 600px, 480px`}
                loading="eager"
                class="w-full aspect-video lg:aspect-[4/3] object-cover rounded-3xl"
              />

              <div class="w-12 h-12 absolute top-2 right-2 flex items-center justify-center rounded-full backdrop-blur-lg">
                <div class="group-hover:bg-white flex items-center justify-center rounded-full w-8 h-8 transition-all">
                  <Icon
                    name="material-symbols:arrow-outward-rounded"
                    size={24}
                    class="group-hover:text-zinc-800 shrink-0 grow-0 flex text-white transition-all"
                  />
                </div>
              </div>

              <div class="p-6">
                <h2 class="text-base font-bold mb-2 text-zinc-800">
                  {service.heading}
                </h2>
                <p class="text-sm text-zinc-400">{service.text}</p>
              </div>
            </a>
          </div>
        ))
      }
    </div>
  </Container>
</section>
