---
import { SITE } from "src/site.config";
import type { CollectionEntry } from "astro:content";
import EntryCard from "@components/EntryCard.astro";
interface Props {
  article: CollectionEntry<"news">;
}

const { article } = Astro.props;

const dateOptions: Intl.DateTimeFormatOptions = {
  month: "long",
  year: "numeric",
  day: "numeric",
};

const url = `/${SITE.news.base}/${article.id}/`;
---

<EntryCard
  url={url}
  image={article.data.coverImage}
  alt={article.data.title}
  transition:name={`${article.id} article`}
>
  <div slot="body">
    <h2 class="text-2xl font-semibold">
      {article.data.title}
    </h2>
    <time
      datetime={article.data.publishDate.toISOString()}
      class="text-sm block mt-4"
    >
      {article.data.publishDate.toLocaleDateString("en-GB", dateOptions)}
    </time>
  </div>
</EntryCard>
